/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:5f6c190392a7f4ab0f8139fe00553e6f:d1988efec9f9b2f0d1e27a463d9a7977:61e53af8b0b91020742bc548d44c899f$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(../images/sprites.png);}

.letter-a {width:50px; height:50px; background-position: -2px -106px}
.letter-b {width:50px; height:50px; background-position: -2px -54px}
.letter-c {width:50px; height:50px; background-position: -2px -2px}
